<div id="div-contenedor" class="m-control m-container m-munpanel">
    <div id='buscador-panel'>
        <div id='buscador-panel-title'>Buscador de Municipios</div>
        <div id='buscador-panel-body'>
            <div id='content-panel'>
                <h3 class='tituloSelect'>Provincias</h3>
                <select name='provincias' id='selectProvincias'>
                    <option class='opProvincias' value='Select' disabled='disabled' selected>Selecciona una
                        provincia</option>
                    <option class='opProvincias' value='Almeria'>Almería</option>
                    <option class='opProvincias' value='Cadiz'>Cádiz</option>
                    <option class='opProvincias' value='Cordoba'>Córdoba</option>
                    <option class='opProvincias' value='Granada'>Granada</option>
                    <option class='opProvincias' value='Huelva'>Huelva</option>
                    <option class='opProvincias' value='Jaen'>Jaén</option>
                    <option class='opProvincias' value='Malaga'>Málaga</option>
                    <option class='opProvincias' value='Sevilla'>Sevilla</option>
                    <option class='opProvincias' value='Todas'>Todas</option>
                </select>
                <h3 class='tituloSelect'>Municipios</h3>
                <select name='municipios' id='selectMunicipios'>
                    <option class='opMunicipios' value='Select' disabled='disabled' selected>Selecciona un
                        municipio</option>

                </select>
                <h3 class='tituloSelect'>Datos de Población</h3>
                <select name='poblacion' id='selectPoblacion'>
                    <option class='opPoblacion' value='2020'selected>2020</option>                    
                    <option class='opPoblacion' value='2019'>2019</option>
                    <option class='opPoblacion' value='2018'>2018</option>
                    <option class='opPoblacion' value='2017'>2017</option>
                    <option class='opPoblacion' value='2016'>2016</option>
                    <option class='opPoblacion' value='2015'>2015</option>
                    <option class='opPoblacion' value='2014'>2014</option>
                    <option class='opPoblacion' value='2013'>2013</option>
                    <option class='opPoblacion' value='2012'>2012</option>
                    <option class='opPoblacion' value='2011'>2011</option>
                    <option class='opPoblacion' value='2010'>2010</option>
                    <option class='opPoblacion' value='2009'>2009</option>
                    <option class='opPoblacion' value='2008'>2008</option>
                    <option class='opPoblacion' value='2007'>2007</option>
                    <option class='opPoblacion' value='2006'>2006</option>
                    <option class='opPoblacion' value='2005'>2005</option>
                    <option class='opPoblacion' value='2004'>2004</option>
                    <option class='opPoblacion' value='2003'>2003</option>
                    <option class='opPoblacion' value='2002'>2002</option>
                    <option class='opPoblacion' value='2001'>2001</option>
                    <option class='opPoblacion' value='2000'>2000</option>
                    <option class='opPoblacion' value='1999'>1999</option>
                    <option class='opPoblacion' value='1998'>1998</option>
                    <option class='opPoblacion' value='1996'>1996</option>
                </select>
                <h3 class='tituloSelect'>Buscador de Municipios</h3>
                <form id='buscaMunicipio'>
                    <label for='busMuni'>Municipio</label>
                    <input type='text' id='busMuni' name='municipio' autocomplete='off'>
                </form>
                <div id='divBotones'>
                    <button id='botonBusca' title='Busca un Municipio'>Busca</button>
                    <button id='botonLimpia' title='Limpia campos'>Limpia</button>
                </div>
                <div id='DivTablaResultados'>
                    <table id='TablaResultados' class='TablaOculta'>
                        <thead>
                            <tr>
                                <td>MUNICIPIO</td>
                                <td>PROVINCIA</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id='controlTablas'>
                    <button id='botonAtras' title='Anterior' class='g-cartografia-flecha-izquierda'></button>
                    <button id='botonAvance' title='Siguiente' class='g-cartografia-flecha-derecha'></button>
                </div>
                <div id='resultadosBusqueda'>
                    <p id='resulBus'>RESULTADO BUSQUEDA</p>
                </div>
            </div>
        </div>
    </div>
</div>
